<html>
    <head>
        <title>Calculadora</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Calculadora</h1>
        <hr>
        <p>Resultado = <%= total %></p>
        <a href="/">Voltar para o Formulário</a>
    </body>
</html>
